<app-card-list [isLoading]="isLoading$ | async" [isPreloading]="isPreloading$ | async"
    [hasError]="displayTableError$ | async" [isEmpty]="isEmptyList$ | async">    
    <app-card-list-fab-action-section>
        <!-- TODO: Remove me if you don't want a + button -->
        <button mat-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </app-card-list-fab-action-section>

    <app-card-list-preloading-indicator></app-card-list-preloading-indicator>
    <app-card-list-loading-indicator></app-card-list-loading-indicator>

    <app-card-list-filters-section [formGroup]="searchForm">
        <mat-form-field>
            <mat-label>Nationality Filter</mat-label>
            <mat-select formControlName="nationalities" multiple>
                <mat-option *ngFor="let nationality of nationalities$ | async" [value]="nationality.id">
                    {{ nationality.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Gender Filter</mat-label>
            <mat-select formControlName="gender">
                <mat-option value="male">male</mat-option>
                <mat-option value="female">female</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput placeholder="Last Name">
        </mat-form-field>
    </app-card-list-filters-section>
    <app-card-list-table-section>
        <!-- https://material.angular.io/components/table/overview -->
        <table mat-table matSort [dataSource]="entities$ | async">
            
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" (change)="tableForm.togglePage($event)"
                        [checked]="tableForm.allChecked | async" [indeterminate]="tableForm.indeterminate | async">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox color="primary" [formControl]="tableForm.getRowControl(row.id)">
                    </mat-checkbox>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row">
                    <!-- https://material.angular.io/components/menu -->
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="sayHi(row.id)">
                            Say Hello in console
                        </button>
                        <button mat-menu-item disabled>
                            Nope.
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
                        
            <!-- Apply the mat-sort-header attribute to any columns you have implemented sorting for -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">First Name</th>
                <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Last Name</th>
                <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef>Gender</th>
                <td mat-cell *matCellDef="let row">{{row.gender}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Email</th>
                <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>

            <ng-container matColumnDef="nationality">
                <th mat-header-cell *matHeaderCellDef>Nationality</th>
                <td mat-cell *matCellDef="let row">{{row.nationality}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </app-card-list-table-section>
    <app-card-list-empty-message>No people found<button (click)="clearFilters()" mat-raised-button color="primary">Clear
        Filters</button>
    </app-card-list-empty-message>
    <app-card-list-error-message>
        <mat-icon>warning</mat-icon>Failed to load people
        <button (click)="retry()" mat-raised-button color="primary">Retry</button>
    </app-card-list-error-message>
    <mat-paginator [pageSize]="pageSize" [length]="totalEntitiesCount$ | async"></mat-paginator>
</app-card-list>